<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :review %><br>
    <%= f.text_area :review %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.select("type_id", Type.all.map {|t| [t.name, t.id]}) %>
  </div>
  <div class="field">
    <%= f.label :move_image %><br>
    <%= f.file_field :move_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
